@import "tailwindcss";

@theme {
  --color-secondary: #b45309;
  --color-accent: #047857;
  --color-card: oklch(0.205 0 0);
  --color-border: oklch(1 0 0/10%);
  --color-background: oklch(0.145 0 0);
  --color-muted: oklch(0.269 0 0);
  --color-muted-foreground: oklch(0.708 0 0);
  --color-primary-foreground: oklch(0.205 0 0);
  --color-primary: oklch(0.922 0 0);
  --color-error: #991b1b;
  --color-success: #15803d;
}

body {
  @apply text-base overflow-hidden;
  color: #ffffff;
  background-color: oklch(0.145 0 0);

  @media (max-width: 1200px) {
    font-size: 16px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.darkBack {
  background-color: rgba(52, 52, 52, 0.7);
}

.slide {
  animation: slideAnim 0.5s;
}

@keyframes slideAnim {
  from {
    transform: translateX(50px);
    opacity: 0.4;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
