@import "tailwindcss";

@theme {
  --color-secondary: #b45309;
  --color-accent: #047857;
  --color-background: #1f2937;
  --color-primary: #3730a3;
  --color-error: #991b1b;
  --color-success: #15803d;
}

body {
  @apply text-base overflow-hidden;
  color: #ffffff;
  background-color: #1f2937;

  @media (max-width: 1200px) {
    font-size: 16px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.slide {
  animation: slideAnim 0.5s;
}

@keyframes slideAnim {
  from {
    transform: translateX(50px);
    opacity: 0.4;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
